header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  border: 2px solid var(--divider-color);
  border-radius: 0.8rem;
  background: radial-gradient(var(--card-primary-color), var(--card-secondary-color));
  padding-left: 1rem;
}

.header-left p {
  font-size: 2.4rem;
}

.header-right {
  display: flex;
}

.header-right p {
  padding: 1rem;
  font-size: 2.4rem;
}

.header-left p:hover,
.header-right p:hover {
  cursor: pointer;
  font-weight: 700;
}