.station-card {
  border: 0.2rem solid var(--divider-color);
  border-radius: 0.8rem;
  background: radial-gradient(var(--card-primary-color), var(--card-secondary-color));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  transition: transform .2s, filter .3s;
}

.station-card:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.station-card .card-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.station-card .card-top a {
  transform: translate(15px);
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  transition: font-size .2s;
}

/* .station-card .card-top a:hover {
  font-size: 1.8rem;
} */

.station-card .card-top button {
  background: url("../../assets/images/icons/delete.svg") no-repeat;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  transition: background .2s;
}

.station-card .card-top button:hover {
  background: url("../../assets/images/icons/delete-hover.svg");
}

.station-card .card-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.station-card .card-bottom p {
  font-size: 1rem;
}

.station-card .card-bottom button {
  background: url("../../assets/images/icons/edit.svg");
  background-repeat: no-repeat;
  height: 23px;
  width: 23px;
  border: none;
  cursor: pointer;
  transition: background .2s;
}

.station-card .card-bottom button:hover {
  background: url("../../assets/images/icons/edit-hover.svg");
}